<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/9f3edbf1ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" />
    <title>
        <%= title %>
    </title>

</head>

<body>

    <header>
        <div>
            <a href="/user/all">
                <img src="/images/logo-white.png" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <p>
                <%= user %>
            </p>
            <a class="profile" href="/user/profile"> <i class="fa-solid fa-user nav-icon"></i>Profile</a>
            <form action="/user/sell" method="GET">
                <button type="submit" class="nav-button">Sell</button>
            </form>
        </nav>
    </header>

    


    <main>

        <div id="container">

            <div>
                <div class="search-container">
                    <form action="/user/search" method="POST">
                        <button id="search-btn" type="submit">⌕</button>
                        <input type="text" class="search-bar" placeholder="Search" name="keyword">

                    </form>
                </div>
            </div>

            <ul class="category-list" id="sortable-list">

                <li class="category-item">

                    <form action="/user/filter" method="POST">
                        <input type="hidden" name="category" value="Dorm Supplies">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">Dorm Supplies</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-bed cat-icon"></i>
                </li>

                <li class="category-item">

                    <form action="/user/filter" method="POST">
                        <input type="hidden" name="category" value="Textbooks">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">Textbooks</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-book cat-icon"></i>
                </li>

                <li class="category-item">

                    <form action="/user/filter" method="POST">
                        <input type="hidden" name="category" value="School Supplies">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">School Supplies</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-pencil cat-icon"></i>
                </li>

                <li class="category-item">

                    <form action="/user/filter" method="POST">
                        <input type="hidden" name="category" value="Apparel">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">Apparel</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-shirt cat-icon"></i>
                </li>

                <li class="category-item">

                    <form action="/user/filter" method="POST">
                        <input type="hidden" name="category" value="Miscellaneous">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">Miscellaneous</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-tag"></i>
                </li>

                <li class="category-item">

                    <form action="/user/all" method="GET">
                        <button type="submit" id="search-btn">
                            <p class="category-item-text">View All</p>
                        </button>
                    </form>
                    <i class="fa-solid fa-ellipsis"></i>
                </li>
            </ul>
        </div>