html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: rgb(255, 251, 130); */
}

#login-container {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;

}

#login-pic {
    width: 200px;
    height: 200px;
}

